@charset "UTF-8";
/* ###############################
    초기화 CSS
################################## */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, p, table, th, td, form, fieldset, legend, textarea, input, select, textarea, button, article, aside, dialog, footer, header, section, footer, nav, figure, main {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

article, aside, dialog, footer, header, section, footer, nav, figure, main {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  height: 100%;
  color: #000;
  font-family: "Nanum Gothic", "맑은 고딕", "돋음", sans-serif;
  font-weight: 400;
  font-size: 16px;
  background: #fff;
}

input, select, textarea, button {
  border: 0;
  outline: 0;
  background: transparent;
  color: #000;
  font-family: "Nanum Gothic", "맑은 고딕", "돋음", sans-serif;
  font-weight: 400;
  font-size: 16px;
}

select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  cursor: pointer;
}

select::-ms-expand {
  display: none;
}

fieldset, li, img {
  border: 0;
  vertical-align: top;
}

ul, ol {
  list-style: none;
}

button {
  overflow: visible;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  outline: 0;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

address, caption, em {
  font-style: normal;
}

a {
  text-decoration: none;
}

a:focus, a:active {
  text-decoration: none;
}

label {
  cursor: pointer;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

a, span, em, button, label, i, b, strong {
  display: inline-block;
  font-style: normal;
}

.hidden, legend, figcaption {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 1px;
  font-size: 1px;
  line-height: 0;
  white-space: nowrap;
  opacity: 0;
}

/* 스크롤바 디자인 */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  border-color: transparent;
  border-style: solid;
  border-width: calc(10 / 3);
  background-clip: padding-box;
}

::-webkit-scrollbar-thumb:active {
  background-color: rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-thumb:hover {
  border-width: 1px;
  background-color: rgba(0, 0, 0, 0.5);
}

/* ###############################
    나눔고딕 웹폰트
################################## */
@font-face {
  font-family: 'Nanum Gothic';
  font-style: normal;
  font-weight: 400;
  src: local("NanumGothic"), url(/base/font/nanum-gothic-v17-latin-regular.woff2) format("woff2");
}

@font-face {
  font-family: 'Nanum Gothic';
  font-style: normal;
  font-weight: 700;
  src: local("NanumGothic Bold"), local("NanumGothic-Bold"), url(/base/font/nanum-gothic-v17-latin-700.woff2) format("woff2");
}

@font-face {
  font-family: 'Nanum Gothic';
  font-style: normal;
  font-weight: 800;
  src: local("NanumGothic ExtraBold"), local("NanumGothic-ExtraBold"), url(/base/font/nanum-gothic-v17-latin-800.woff2) format("woff2");
}

/* ###############################
    help class
################################## */
.txt-left {
  text-align: left !important;
}

.txt-center {
  text-align: center !important;
}

.bg-black {
  color: #fff !important;
  background: #181616 !important;
}

.mb12 {
  margin-bottom: 12px !important;
}

.ml15 {
  margin-left: 15px !important;
}

.mr0 {
  margin-right: 0 !important;
}

.pdr0 {
  padding-right: 0 !important;
}

.pdt10 {
  padding-top: 10px !important;
}

.pdb0 {
  padding-bottom: 0 !important;
}

.pdb10 {
  padding-bottom: 10px !important;
}

.bg-red {
  background-color: #ff1515 !important;
}

.bg-blue {
  background-color: #0b4aed !important;
}

.bg-yellow {
  background-color: #fbff39 !important;
}

.bg-orange {
  background-color: #ffc227 !important;
}

.bg-green {
  background-color: #1aba0d !important;
}

.bg-yellowgreen {
  background-color: #12d931 !important;
}

.bg-gray {
  background-color: #adadad !important;
}

.bg-violet {
  background-color: #a129eb !important;
}

.bg-darkgreen {
  background-color: #1f5f19 !important;
}

.bg-brown {
  background-color: #5f1919 !important;
}

/* ###############################
    레이아웃
################################## */
.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  min-width: 1920px;
  height: 100%;
  margin: 0 auto;
}

.header {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  background: #0c4670;
}

.header-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 11px 30px 11px 25px;
}

.header-group .ly-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.header-group .ly-left .gnb {
  margin-left: 114px;
}

.header-group .ly-right {
  margin-left: auto;
}

.container {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background: #162128;
}

footer {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  text-align: right;
  background: #162128;
}

footer .copylight {
  padding: 4px 12px;
  font-size: 10px;
  color: #fff;
}

/* ###############################
    모달 팝업
################################## */
.blocker {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  z-index: 10;
  padding: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.75);
  text-align: center;
}

.blocker:before {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.05em;
}

.blocker.behind {
  background-color: transparent;
}

.modal {
  display: none;
  vertical-align: middle;
  position: relative;
  z-index: 2;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 90%;
  background: #fff;
  padding: 15px 30px;
  border-radius: 8px;
  -webkit-box-shadow: 0 0 10px #000;
          box-shadow: 0 0 10px #000;
  text-align: left;
}

.modal a.close-modal {
  position: absolute;
  top: -12.5px;
  right: -12.5px;
  display: block;
  width: 30px;
  height: 30px;
  text-indent: -9999px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.modal-spinner {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
      -ms-transform: translateY(-50%) translateX(-50%);
          transform: translateY(-50%) translateX(-50%);
  padding: 12px 16px;
  border-radius: 5px;
  background-color: #111;
  height: 20px;
}

.modal-spinner > div {
  border-radius: 100px;
  background-color: #fff;
  height: 20px;
  width: 2px;
  margin: 0 1px;
  display: inline-block;
  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
          animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.modal-spinner .rect2 {
  -webkit-animation-delay: -1.1s;
          animation-delay: -1.1s;
}

.modal-spinner .rect3 {
  -webkit-animation-delay: -1.0s;
          animation-delay: -1.0s;
}

.modal-spinner .rect4 {
  -webkit-animation-delay: -0.9s;
          animation-delay: -0.9s;
}

@-webkit-keyframes sk-stretchdelay {
  0%,
  40%,
  100% {
    -webkit-transform: scaleY(0.5);
            transform: scaleY(0.5);
  }
  20% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
}

@keyframes sk-stretchdelay {
  0%,
  40%,
  100% {
    -webkit-transform: scaleY(0.5);
            transform: scaleY(0.5);
  }
  20% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
}

/* 모달 팝업 커스텀마이징 */
.modal {
  width: 450px;
  padding: 62px 22px 0;
  border-radius: 0;
}

.modal a.close-modal {
  top: 12px;
  right: 12px;
  width: 35px;
  height: 35px;
  background-image: url(/base/images/btn_close_black.png);
}

.modal-btn-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 33px 0;
}

.modal-btn-group .btn-default {
  width: 146px;
}

.modal-btn-group .btn-default:not(:first-child) {
  margin-left: 12px;
}

.modal.alert {
  text-align: center;
}

.modal.confirm {
  text-align: center;
}

/* ###############################
    공통 기타
################################## */
.logo {
  width: 175px;
  height: 46px;
  background: url(/base/images/logo.png) no-repeat 0 0;
  background-size: contain;
}

.greeting {
  color: #fff;
}

.greeting em {
  color: #f89938;
}

.gnb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.gnb li {
  position: relative;
  z-index: 1;
}

.gnb li:not(:first-child) {
  margin-left: 110px;
}

.gnb li::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -22px;
  width: 100%;
  height: 22px;
}

.gnb li a {
  font-weight: 800;
  font-size: 18px;
  color: #ECF0F1;
}

.gnb li a:hover {
  color: #fff;
}

.gnb .depth2 {
  display: none;
  position: absolute;
  top: 46px;
  left: 0;
  padding: 20px;
  background: #1c2f42;
}

.gnb .depth2 a {
  font-weight: 700;
  font-size: 16px;
  white-space: nowrap;
}

.gnb .depth2 a:not(:first-child) {
  margin-top: 15px;
}

.gnb .depth2 a:hover {
  color: #4d85ff;
}

.video-item {
  position: relative;
  border: 2px solid #a8a8a8;
}

.video-item video {
  -o-object-fit: fill;
     object-fit: fill;
}

.video-item .canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.signal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 9px 0;
}

.signal-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 6px 0 6px 8px;
  border: 1px solid #0098dd;
  border-radius: 50px;
}

.signal-group:first-child {
  margin-right: 12px;
}

.signal-group .num {
  width: 62px;
  text-align: center;
  font-weight: 800;
  font-size: 20px;
  color: #fff;
}

.signal .ly-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.signal .ly-left .ch-txt {
  margin-left: 16px;
  font-weight: 800;
  font-size: 20px;
  color: #fff;
}

.signal .ly-right {
  margin-left: auto;
}

.unit {
  overflow: hidden;
  border-radius: 5px;
}

.unit-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 9px 20px;
  background: #2d85c5;
}

.unit-header .tit {
  color: #fff;
}

.unit-header .btn-save {
  margin-left: auto;
}

.unit-content {
  background: #fff;
}

.unit.type2 .unit-header {
  background: #0e2a3e;
}

.unit.type2 .unit-content {
  height: calc(100% - 42px);
}

.unit.type2 .unit-content .tbl-sticky {
  height: 100%;
  border-radius: 0;
}

.unit.type2 .unit-content .tbl-sticky td {
  padding: 11px 0;
}

.tab-group {
  overflow: hidden;
  border-radius: 5px;
}

.tab-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.tab-nav a {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 13px 0;
  line-height: 16px;
  text-align: center;
  color: #fff;
  background: #b1b1b1;
}

.tab-nav a.active {
  background: #2d85c5;
}

/* ###############################
    swiper style 수정
################################## */
.swiper-button-prev {
  top: calc(50% + 11px);
  left: 0;
  width: 13px;
  height: 22px;
  background: url(/base/images/ic_arr_left.png) no-repeat 0 0;
  background-size: contain;
}

.swiper-button-prev::after {
  display: none;
}

.swiper-button-next {
  top: calc(50% + 11px);
  right: 0;
  width: 13px;
  height: 22px;
  background: url(/base/images/ic_arr_left.png) no-repeat 0 0;
  background-size: contain;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.swiper-button-next::after {
  display: none;
}

.road-swiper {
  margin: 15px 0;
}

.road-swiper .swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 0 25px;
}

/* ###############################
    버튼
################################## */
.btn-inline-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.btn-inline-group.bordered {
  border: 1px solid #c4c4c4;
  border-radius: 5px;
}

.btn-inline-group .btn-block {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.btn-logout {
  padding-left: 36px;
  font-weight: 700;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.6);
}

.btn-save {
  width: 24px;
  height: 24px;
  background: url(/base/images/btn_save.png) no-repeat 0 0;
  background-size: contain;
}

.btn-delete {
  width: 24px;
  height: 24px;
  background: url(/base/images/btn_delete.png) no-repeat 0 0;
  background-size: contain;
  vertical-align: middle;
}

.btn-default {
  padding: 13px 0;
  line-height: 16px;
}

.btn-block {
  padding: 13px 0;
  line-height: 16px;
  text-align: center;
  color: #6d707d;
}

.btn-block.c-skyblue {
  color: #fff;
  background: #2d85c5;
}

/* ###############################
    아이콘
################################## */
.ic-info {
  width: 24px;
  height: 24px;
  vertical-align: middle;
  background: url(/base/images/ic_info.png) no-repeat 0 0;
  background-size: contain;
}

.ic-roi {
  width: 24px;
  height: 24px;
  vertical-align: middle;
  background: url(/base/images/ic_roi.png) no-repeat 0 0;
  background-size: contain;
}

.ic-state-circle {
  width: 44px;
  height: 44px;
  border-radius: 100%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 24px;
}

.ic-state-circle.front {
  background-image: url(/base/images/ic_car_front.png);
}

.ic-state-circle.walk {
  background-image: url(/base/images/ic_man_walk.png);
}

/* ###############################
    form
################################## */
/* 인풋박스 */
.input-txt {
  width: 100%;
  height: 40px;
  padding: 5px 12px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  background: #fff;
}

.input-value-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.input-value-group .input-txt {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.input-value-group i {
  margin: 6px 12px 0;
}

/* 라디오버튼 */
.radio-inline-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.radio-inline-group.bordered {
  border: 1px solid #c4c4c4;
  border-radius: 5px;
}

.radio-inline-group.border-radius {
  overflow: hidden;
  border-radius: 5px;
}

.radio-bordered {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.radio-bordered .txt {
  display: block;
  padding: 13px 0;
  line-height: 16px;
  text-align: center;
  color: #6d707d;
  -webkit-transition: .3s;
  transition: .3s;
}

.radio-bordered:not(:first-child) {
  border-left: 1px solid #c4c4c4;
}

.radio-bordered input:checked + .txt {
  color: #fff;
  background: #2d85c5;
}

.radio-road .road {
  width: 54px;
  height: 54px;
  border-radius: 100%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 40px;
  -webkit-transition: .3s;
  transition: .3s;
}

.radio-road .road.straight {
  background-image: url(/base/images/road_straight.png);
}

.radio-road .road.left {
  background-image: url(/base/images/road_left.png);
}

.radio-road .road.right {
  background-image: url(/base/images/road_right.png);
}

.radio-road .road.u-turn {
  background-image: url(/base/images/road_uturn.png);
}

.radio-road .road.straight-left {
  background-image: url(/base/images/road_straight_left.png);
}

.radio-road .road.straight-right {
  background-image: url(/base/images/road_straight_right.png);
}

.radio-road .road.left-uturn {
  background-image: url(/base/images/road_uturn_left.png);
}

.radio-road .road.bus {
  background-image: url(/base/images/road_bus.png);
}

.radio-road input:checked + .road {
  background-color: #2d85c5;
}

.radio-bgcolor {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.radio-bgcolor .bg {
  display: block;
  height: 29px;
}

/* 체크박스 */
.switch {
  position: relative;
  width: 48px;
  height: 24px;
  vertical-align: middle;
}

.switch-group .txt {
  margin-right: 15px;
  color: #fff;
  vertical-align: middle;
}

.switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #c4c4c4;
  border-radius: 50px;
  -webkit-transition: .3s;
  transition: .3s;
}

.switch .slider::before {
  position: absolute;
  content: "";
  width: 18px;
  height: 18px;
  left: 4px;
  bottom: 3px;
  background: #fff;
  border-radius: 100%;
  -webkit-transition: .3s;
  transition: .3s;
}

.switch input:checked + .slider {
  background: #2d85c5;
}

.switch input:checked + .slider::before {
  -webkit-transform: translateX(22px);
      -ms-transform: translateX(22px);
          transform: translateX(22px);
}

/* 셀렉트박스 */
.selectbox {
  padding: 9px 35px 10px 18px;
  background: url(/base/images/ic_tri_bot.png) no-repeat 95% 50% #fff;
  background-size: 12px 9px;
}

/* ###############################
    모니터링 우측 컴포넌트
################################## */
.control-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 18px 0;
}

.control-header .selectbox {
  margin-left: 13px;
}

.control-header .switch-group {
  margin-left: auto;
}

.control-header .switch-group .txt {
  font-weight: 700;
}

.control-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  height: calc(100% - 76px);
}

.control-content > div:not(:first-child) {
  margin-top: 12px;
}

.bg-display {
  width: 47px;
  height: 28px;
  vertical-align: middle;
}

/* 컴포넌트 사이즈 정의 */
[data-componant="camera-state"] {
  height: 266px;
}

[data-componant="camera-info"] {
  height: 267px;
}

[data-componant="camera-info"] .unit-content {
  height: calc(100% - 42px);
  overflow-y: auto;
}

[data-componant="branch-info"] .unit-content {
  height: 173px;
  overflow-y: auto;
}

[data-componant="roi-infolist"] {
  height: 397px;
}

/* ###############################
    테이블
################################## */
.tbl-border-none {
  padding: 10px 24px;
}

.tbl-border-none th {
  text-align: left;
  font-weight: 400;
}

.tbl-border-none td {
  height: 40px;
}

.tbl-border-none td .input-txt {
  margin-top: 10px;
}

.tbl-bordered-bot tbody tr:not(:first-child) td {
  border-top: 1px solid #c4c4c4;
}

.tbl-sticky {
  position: relative;
  overflow: hidden;
  padding-top: 42px;
  border-radius: 5px;
}

.tbl-sticky-inner {
  height: 100%;
  overflow-y: auto;
  background: #fff;
}

.tbl-sticky .header-bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 42px;
  background: #2d85c5;
}

.tbl-sticky thead th {
  text-align: left;
  font-weight: 400;
  color: #fff;
}

.tbl-sticky thead span {
  position: absolute;
  top: 9px;
  text-align: center;
}

.tbl-sticky tbody td {
  padding: 17px 0;
  text-align: center;
}

/* ###############################
    페이지
################################## */
/* 모니터링 */
.monitering {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  height: 100%;
}

.monitering > .ly-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 314px;
  padding-left: 12px;
}

.monitering > .ly-left .video-item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-top: 12px;
}

.monitering > .ly-left .video-item.active {
  border-color: #ff1f00;
}

.monitering > .ly-left .video-item:hover {
  cursor: pointer;
}

.monitering > .ly-center {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 0 12px;
}

.monitering > .ly-center .video-item {
  height: calc(100% - 76px);
}

.monitering > .ly-right {
  width: 471px;
  padding: 0 12px;
  background: #0e2a3e;
}

/* 모니터링 > ROI */
.roi-vehicle {
  padding: 10px;
  background: #fff;
}

.roi-vehicle .result-box {
  margin-top: 10px;
  padding: 11px 0;
  line-height: 14px;
  border-radius: 5px;
  background: #c0daed;
  text-align: center;
  font-size: 14px;
}

.roi-vehicle .result-box .msg {
  color: #ff1f00;
}

.roi-vehicle .btn-inline-group {
  margin-top: 10px;
}

.road-choice {
  margin-top: 10px;
}

.road-choice .radio-bordered .txt {
  line-height: 15px;
  font-size: 15px;
}
